@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-default: #030F0F;
    --color-border: #6F7D7D;
    --color-foreground: #F2ECDE;
    --color-background: #030f0f;

    --color-primary-50: #edfff7;
    --color-primary-100: #d6ffee;
    --color-primary-200: #afffdd;
    --color-primary-300: #71ffc4;
    --color-primary-400: #2dfba3;
    --color-primary-500: #02df82;
    --color-primary-600: #00bf6b;
    --color-primary-700: #009557;
    --color-primary-800: #077447;
    --color-primary-900: #085f3c;
    --color-primary-950: #003620;

    --color-surface-50: #f1fcf9;
    --color-surface-100: #d1f6ef;
    --color-surface-200: #a3ece0;
    --color-surface-300: #6ddbcd;
    --color-surface-400: #3ec3b5;
    --color-surface-500: #25a79c;
    --color-surface-600: #1b867e;
    --color-surface-700: #1a6b67;
    --color-surface-800: #195653;
    --color-surface-900: #042222;
    --color-surface-950: #021A1A;

    --color-primary: #02DF82;

    --font-display: Unica One, sans-serif;
    --font-sans: Fira Code, sans-serif;
    --font-mono: Fira Code, monospace;
}

:root {
    font-family: var(--font-sans);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-foreground);
    background-color: var(--color-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@layer base {

    h1,
    h2,
    h3 {
        font-family: var(--font-display);
        color: var(--color-foreground);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        text-rendering: optimizeLegibility;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: -0.025em;
        margin-bottom: 1rem;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h2 {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -0.025em;
        margin-bottom: 1rem;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: -0.025em;
        margin-bottom: 1rem;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0;
        margin-bottom: 1rem;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    * {
        border-color: var(--color-border);
        -webkit-font-smoothing: antialiased;
    }

    .shadow-base {
        -webkit-box-shadow: 0px 4px 16px 0px var(--color-primary-900);
        box-shadow: 0px 4px 16px 0px var(--color-primary-900);
    }
}

.bg-content1 {
    background-color: var(--color-surface-950);
}